@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

:root
{
    --clr: #222327
}
#navmenu{
     position: fixed;
bottom: 0px;
}
.navigation
{
     display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85px;
    background: #eaeaea;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    float: left;
    border: 10px solid #fff;
}

.navigation ul
{
    display: flex;
    width: 350 px
}

.navigation ul li
{
    position: relative;
    list-style: none;
    margin-top: 8%;
    bottom: 5px;
    width: 70px;
    height: 50px;
    z-index: 1;
    cursor: pointer;
}

.navigation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: rgb(107, 107, 107);
}

.navigation ul li.active a .icon
{
    transform: translateY(-27px);
    color: #fff;
}

.navigation ul li a .text
{
    position: absolute;
    color: #000;
    font-size: 0.90em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text
{
    opacity: 1;
    transform: translateY(15px);
}

.indicator
{
    position: absolute;
    top: -54%;
    width: 70px;
    height: 70px;
    background: #9c5d00;
    border-radius: 50%;
    border: 6px solid #fff;
    transition: 0.5s;
}

.indicator::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -38%;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 #fff;
}

.indicator::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: -38%;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 #fff;
}

.navigation ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(70px * 4));
}
.navigation ul li:nth-child(6).active ~ .indicator
{
    transform: translateX(calc(70px * 5));
}

@media screen and (max-width: 400px){
.navigation
{
    width: 100%;
    height: 70px;
    margin: auto;
}

.navigation ul li
{
    position: relative;
    list-style: none;
    width: 40px;
    height: 40px;
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 65px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
}

.navigation ul li.active a .icon
{
    transform: translateY(-25px);
    color: #fff;
}

.navigation ul li a .text
{
    position: absolute;
    color: #000;
    font-size: 0.75em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(10px);
}

.navigation ul li.active a .text
{
    opacity: 1;
    transform: translateY(12px);
}

.indicator
{
    position: absolute;
    top: -61%;
    width: 55px;
    height: 55px;
    background: #9c5d00;
    border-radius: 50%;
    border: 5px solid #fff;
    transition: 0.5s;
}

.indicator::before
{
    content: '';
    position: absolute;
    top: 57%;
    left: -50%;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 10px;
    box-shadow: 1px -9px 0 0 #ffffff000;
}

.indicator::after
{
    content: '';
    position: absolute;
    top: 57%;
    right: -50%;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 10px;
    box-shadow: -1px -9px 0 0 #fff;
}

.navigation ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(10px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(34px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(37px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(49px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(49.5px * 4));
}
.navigation ul li:nth-child(6).active ~ .indicator
{
    transform: translateX(calc(49.5px * 5));
}
}

@media screen and (max-width: 600px){
#navmenu{
 width: 100%;
}

.navigation
{
    height: 70px;
    margin: auto;
    border-radius: 10px;
    float: left;
    border: 10px solid #fff;
}

.navigation ul li
{
    position: relative;
    list-style: none;
    width: 50px;
    height: 50px;
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 65px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
}

.navigation ul li.active a .icon
{
    transform: translateY(-25px);
    color: #fff;
}

.navigation ul li a .text
{
    position: absolute;
    color: #000;
    font-size: 0.85em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(10px);
}

.navigation ul li.active a .text
{
    opacity: 1;
    transform: translateY(12px);
}

.indicator
{
    position: absolute;
    top: -61%;
    width: 55px;
    height: 55px;
    background: #9c5d00;
    border-radius: 50%;
    border: 5px solid #fff;
    transition: 0.5s;
}

.indicator::before
{
    content: '';
    position: absolute;
    top: 57%;
    left: -50%;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 10px;
    box-shadow: 1px -9px 0 0 #ffffff000;
}

.indicator::after
{
    content: '';
    position: absolute;
    top: 57%;
    right: -50%;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 10px;
    box-shadow: -1px -9px 0 0 #fff;
}

.navigation ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(30px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(47px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(49px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(49px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(49.5px * 4));
}
.navigation ul li:nth-child(6).active ~ .indicator
{
    transform: translateX(calc(49.5px * 5));
}
}